
<div class="formulario">
    <div class="thumbnail"><img src="../logo_pika.png" /></div>
    <h1>
        Exitoso
        <small>Autorizado correctamente el dispositivo</small>
    </h1>
</div>