@model string

<div class="formulario">
    <h1>
        Codigo de usuario
    </h1>
    <p>
        Ingrese el código que se muestra en su dispositivo
    </p>
    <form asp-action="UserCodeCapture" method="post" class="info">
        <input for="userCode" name="userCode" />
        <button >Aceptar</button>
    </form>
</div>