<div class="col-md-12">
    <div class="row">
    <h5 class="swal2-error">Los elementos serán borrados de manera permanente, ¿Desea continuar?</h5>
    </div>
    <div class="row">
        <div class="container" >
            <div class="row">
                <div class="col-6" id="listaDominios"></div>
                <div class="col-6" id="listaDominios2"></div>
            </div>
        </div>
    </div>
</div>

<div class="hide">
    <form id="formPostPutDominio" method="delete">
        @Html.Hidden("idsDelete")
    </form>
</div>