@using IdentityServer4.Extensions
@{ string nameUser = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        nameUser = Context.User?.GetDisplayName();
    } }


<div class="formulario">
    <div class="info">
        <div class="thumbnail"><img src="~/PIKA_PARROT.svg" /></div>
        @if (!string.IsNullOrWhiteSpace(nameUser))
        {
            <div class="nombre"> <b>  @nameUser</b></div>
        }

        <h1>Acceso denegado</h1>


        <p>No tienes acceso a esta aplicación.</p>
    </div>
</div>