@model LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}
@using IdentityServer4.Extensions
@{ string nameUser = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        nameUser = Context.User?.GetDisplayName();
    } }

<div class="formPermisos">
    <div class="informacion">


        <h2>
            Salir de la Aplicaci贸n

        </h2>
        <div class="thumbnail"><img src="~/PIKA_PARROT.svg" /></div>
        @if (!string.IsNullOrWhiteSpace(nameUser))
        {
            <div class="nombre"> <b>  @nameUser</b></div>
        }

    <div class="links"> Click <a href="~/">aqui</a> regresar a la aplicaci贸n</div>
        @if (Model.PostLogoutRedirectUri != null)
        {
            <form  class="links">
                Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a>para regresar a la aplicaci贸n
                <span>@Model.ClientName</span> aplicaci贸n.
            </form>

        }

        @if (Model.SignOutIframeUrl != null)
        {
            <div width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></div>
        }
    </div>

    @section scripts
{
        @if (Model.AutomaticRedirectAfterSignOut)
        {
            <script src="~/js/signout-redirect.js"></script>
        }
    </div>
}
