@model LoginViewModel
<div class="container">
    
</div>
<partial name="_ValidationSummary" />

<div class="formlogin">


    @if (Model.EnableLocalLogin)
    {
        <div class="thumbnail"><img src=".../PIKA_PARROT.svg" /></div>
        <h2>Inicio de sesión</h2>
        <form asp-route="Login">
            <input type="text" placeholder="Usuario" asp-for="Username" />
            <input type="password" placeholder="Contraseña" asp-for="Password" autocomplete="off" />
            @if (Model.AllowRememberLogin)
            {
                <div class="contenidoChecked">
                    <label>
                        <input asp-for="RememberLogin" type="checkbox"
                               name="ScopesConsented"
                               id="check"
                               checked="checked" />
                        <b>Recordar la sesión</b>

                    </label>
                </div>
            }
            <br />
            <button name="button" value="login">Iniciar sesión</button>

            <input type="hidden" asp-for="ReturnUrl" />
        </form>


    }
    @if (Model.VisibleExternalProviders.Any())
    {
        <div>
            <div>
                <div>
                    <h3>External Login</h3>
                </div>
                <div>
                    <ul>
                        @foreach (var provider in Model.VisibleExternalProviders)
                        {
                            <li>
                                <a asp-controller="External"
                                   asp-action="Challenge"
                                   asp-route-provider="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                    @provider.DisplayName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
        <div>
            <strong>Solicitud de inicio de sesión no válida</strong>
            No esta configurado el inicio de sesión para este cliente.
        </div>
    }
</div>
