/* Form */

/* Form */
/* Form */
.formPermisos {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 100%;
    padding: 1px 2px 1px 2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-align: center;
    font-family: Roboto, sans-serif;
}

    .formPermisos .thumbnail {
        background: #EF3B3A;
        width: 150px;
        height: 150px;
        margin: 10px auto 10px;
        padding: 15px 30px 35px 35px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
    }
    .formPermisos .informacion {
        font-family: Roboto, sans-serif;
        text-align: center;
        width: 90%;
        margin: 24px 24px 24px 24px;
    }

    .formPermisos .info {
        font-family: Roboto, sans-serif;
        text-align: justify;
        width: 80%;
        margin: 15px 24px 15px 24px;
    }
    
    .formpermisos .informacion titulo {
        color: red;
        text-align: justify;
    }
        .formPermisos .thumbnail img {
            display: block;
            width: 100%;
            font-family: Roboto, sans-serif;
        }

    .formPermisos input {
        outline: 0;
        background: #f2f2f2;
        width: 10%;
        border: 0;
        margin: 10px 0 15px;
        padding: 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-sizing: border-box;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        text-align: justify;
    }

    .formPermisos .contenidoChecked input {
        outline: 0;
        background: #EF3B3A;
        margin: 15px auto 25px;
        padding: 25px 15px 25px 15px; 
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-sizing: border-box;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        text-align: justify;
    }
    /* On mouse-over, add a grey background color */
    .formPermisos .info  .contenidoChecked:hover input ~ .check {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .formPermisos .info  .contenidoChecked input:checked ~ .check {
        background-color: #ff0000;
    }

    .formPermisos button {
        outline: 0;
        background: #EF3B3A;
        width: 100%;
        border: 0;
        padding: 10px 15px 10px 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        font-family: Roboto, sans-serif;
    }
    .formPermisos .lista ul li {
        color: #000000;
        font-family: Roboto, sans-serif;
        text-align: justify;
        list-style-type: none;
        margin:9px 9px 9px 8px;
    }

    .formPermisos .lista ul {
        color: #000000;
        font-family: Roboto, sans-serif;
        text-align: justify;
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding: 10px 2px 10px 2px;
    }

        .formPermisos .listaConsent ul li {
            color: #000000;
            font-family: Roboto, sans-serif;
            text-align: justify;
            list-style-type: none;
            margin: 9px 9px 5px 8px;
        }

    .formPermisos .listaConsent ul {
        color: #000000;
        font-family: Roboto, sans-serif;
        text-align: justify;
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding: 10px 2px 5px 2px;
    }
    .formPermisos .Permisosdenegados a {
        color: #EF3B3A;
        text-decoration: none;
        font-family: Roboto, sans-serif;
    }

    .formPermisos .Permisosdenegados {
        color: #EF3B3A;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        text-align:justify;
    }
    .formPermisos .Items {
        font-family: Roboto, sans-serif;
        text-align: justify;
    }

    .formPermisos .container a {
        color: #ff0000;
        text-decoration: none;
        font-family: Roboto, sans-serif;
    }
    .formPermisos .informacion .nombre {
        color: #6ebd44;
        font-size: 2.5em;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        padding: 1px 1px 1px 1px
    }
    .formPermisos .informacion .nombre {
        color: #6ebd44;
        font-size: 2.5em;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        padding: 1px 1px 15px 1px
    }
    .formPermisos .informacion .nombreConsent {
        color: #6ebd44;
        font-size: 2.5em;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        padding: 1px 1px 0px 1px
    }
    .formPermisos .informacion .titulo {
        text-align: justify;
        font-weight: bold;
        padding: 5px 1px 5px 1px
    }
    .formPermisos .recuerdamidesicion {
        color: #6ebd44;
        text-align: center;
        padding-top:0px;
        padding-bottom:2px;
    }
    .formPermisos .informacion .links {
        color: #000000;
        font-family: Roboto, sans-serif;
    }
    .formPermisos .informacion .fechacreacion {
        font-family: Roboto, sans-serif;
        text-align: justify;
        font-size:12px;
        padding-bottom:2px;
        padding-top:2px;
    }
    .formPermisos .informacion .NombreAcceso {
        font-family: Roboto, sans-serif;
        text-align: justify;
        padding-bottom: 2px;
        padding-top: 2px;

    }
    /* Form login
*/
    .formlogin {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 80%;
        margin: 0 auto 100px;
        padding: 20px 2px 20px 8px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        text-align: center;
        font-family: Roboto, sans-serif;
    }
    .formlogin .thumbnail {
        background: #EF3B3A;
        width: 150px;
        height: 150px;
        margin: 0 auto 10px;
        padding: 15px 30px 35px 35px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
    }

        .formlogin .thumbnail img {
            display: block;
            width: 100%;
            font-family: Roboto, sans-serif;
        }

    .formlogin input {
        outline: 0;
        background: #f2f2f2;
        width: 90%;
        border: 0;
        margin: 5px 25px 5px 15px;
        padding: 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-sizing: border-box;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        text-align: justify;
    }

    .formlogin .contenidoChecked input {
        outline: 0;
        background: #EF3B3A;
        width: 10%;
        border: 0;
        margin: 10px auto 0px;
        padding: 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-sizing: border-box;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        text-align: center;
    }
/* On mouse-over, add a grey background color */
    .formlogin .contenidoChecked:hover input ~ .check {
        background-color: #ccc;
    }

/* When the checkbox is checked, add a blue background */
    .formlogin .contenidoChecked input:checked ~ .check {
        background-color: #ff0000;
    }

    .formlogin button {
        outline: 0;
        background: #EF3B3A;
        width: 90%;
        border: 0;
        padding: 10px 15px 10px 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        font-family: Roboto, sans-serif;
        text-align:center;
    }

    .formlogin .message {
        margin: 10px 0 0;
        color: #b3b3b3;
        font-size: 12px;
        font-family: Roboto, sans-serif;
    }

        .formlogin .message a {
            color: #EF3B3A;
            text-decoration: none;
            font-family: Roboto, sans-serif;
        }

  

    .formlogin .container a {
        color: #ff0000;
        text-decoration: none;
        font-family: Roboto, sans-serif;
    }
    .container {
    position: relative;
    z-index: 1;
    max-width: 450px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    padding:5px 5px 5px 2px;
}

    .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
        font-family: Roboto, sans-serif;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
        font-family: Roboto, sans-serif;
    }

        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
            font-family: Roboto, sans-serif;
        }

        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
            font-family: Roboto, sans-serif;
        }

            .container .info span a {
                color: #000000;
                text-decoration: none;
                font-family: Roboto, sans-serif;
            }

            .container .info span .fa {
                color: #EF3B3A;
                font-family: Roboto, sans-serif;
            }
    .container .info .Contenido {
        color: #000000;
        font-family: Roboto, sans-serif;
        text-align:justify;
    }
        .container .info .Contenido .lista ul li {
            color: #000000;
            font-family: Roboto, sans-serif;
            text-align: justify;
            list-style-type: square;
            padding:10px 2px 10px 2px;
        }
.Contenedor {
    position: relative;
    z-index: 1;
    max-width: 100%;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}
    .Contenedor:before, .Contenedor:after {
        content: "";
        display: block;
        clear: both;
        font-family: Roboto, sans-serif;
    }

    .Contenedor .info {
        margin: 20% auto;
        text-align: center;
        font-family: Roboto, sans-serif;
    }
        .Contenedor .info .Contenido .lista ul li {
            color: #000000;
            font-family: Roboto, sans-serif;
            text-align: justify;
            list-style-type: none;
            display:none;
        }
        .Contenedor .info .Contenido .lista ul {
            color: #000000;
            font-family: Roboto, sans-serif;
            text-align: justify;
            display: none;
            margin: 0;
            padding: 0;
            list-style-type: none;
            padding: 10px 2px 10px 2px;
        }
        .Contenedor .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
            font-family: Roboto, sans-serif;
        }
/* Form */
.formulario {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 100%;
    margin: 0 auto 2%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: justify;
    font-family: Roboto, sans-serif;
    width: 100%;
    padding: 20px 10px 5px 10px;
    /*border: 1px solid #4CAF50;*/
}
    .formulario h2 {
        text-align:center;
    }
    .formulario .thumbnail {
        background: #EF3B3A;
        width: 150px;
        height: 150px;
        margin: 0 auto 30px;
        padding: 30px 40px 30px 30px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
        border: .1em solid #4CAF50;
    }
    .formulario  .recuerdamidesicion {
        color: #6ebd44;
        text-align:center;
    }
    .formulario .Permisosdenegados {
        text-align: left;
        color: red;
    }
    .formulario .thumbnail img {
        display: block;
        width: 100%;
        font-family: Roboto, sans-serif;
    }


    .formulario input {
        outline: 0;
        background: #f2f2f2;
        width: 10%;
        border: 2px;
        margin: 0 0 15px;
        padding: 25px 20px 25px 20px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-sizing: border-box;
        font-size: 14px;
        font-family: Roboto, sans-serif;
    }
 
    .formulario button {
        outline: 0;
        background: #EF3B3A;
        width: 100%;
        border: 0;
        padding: 15px 15px 15px 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        font-family: Roboto, sans-serif;
    }
    .formulario .nombre {
        color: #6ebd44;
        font-size: 2.5em;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        padding:1px 1px 1px 1px
    }




    
body {
    background: #ccc;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    body:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;
        font-family: Roboto, sans-serif;
    }

#video {
    z-index: -99;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

p,
label {
    font-family: Roboto, sans-serif;
}




@font-face {
    font-family: 'Roboto';
    src: url('../css/Fuente/Roboto/Roboto-Thin.ttf') format('ttf');
}

a {
    color: #ff0000;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

