@inject IViewLocalizer Localizer
@inject IStringLocalizer<RecursosLayout> Rlocalizer


<div class="col-md-12">
    <form id="formCrud" method="post">
        @Html.Hidden("operacion", "post")
        @Html.Hidden("Id")
        <label>Nombre</label><br />
        <input type="text" id="Nombre" name="Nombre" / class="form-control" placeholder="Nombre de la Unidad Organizacional">
    </form>
</div>

