@inject IViewLocalizer Localizer
@inject IStringLocalizer<RecursosLayout> Rlocalizer


<div class="col-md-12">
    <form id="formCrud" method="put">
        <div class="form-group">
            @Html.Hidden("operacion", "put")
            @Html.Hidden("Id")
            <label>Nombre</label><br />
            <input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre de la Unidad Organizacional">
        </div>
        <div class="form-group">
            <div class='icheck-primary d-inline'>
                <input type="checkbox" id="Eliminada"/>
                <label for="Eliminada">Eliminada</label>
            </div>
        </div>
    </form>
</div>

