@inject IViewLocalizer Localizer
@inject IStringLocalizer<RecursosLayout> Rlocalizer
@model PIKA.UI.Web.Areas.Org.Controllers.ViewModelX

    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    }

    @section Styles{

        <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
        <link href="~/lib/datatables-select/css/select.bootstrap4.css" rel="stylesheet" />
        @*<link rel="stylesheet" href="../../plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">*@
    }


    @section Scripts{
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
        <script src="~/lib/datatables-select/js/dataTables.select.min.js"></script>
        <script src="~/lib/datatables-select/js/select.bootstrap4.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
        <script src="~/js/componentes/EditorTabular/EditorTabular..js"></script>

    }

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Ejemplo @Rlocalizer["Texto pequeño"]</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">@Localizer["ejemplo"]</a></li>
                            <li class="breadcrumb-item active">
                                Dashboard v3
                                @*<div id="abc"></div>  <partial name="_Vista001" />*@
                            </li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Products</h3>
                                <div class="card-tools">
                                    @await Component.InvokeAsync("MenuEditorTabular", new { Tipo = Model.Tipo })
                                </div>
                                <div>
                                    <button type="button" class="btn btn-default" id="btnCrearEntidad" data-toggle="Crear dominio" data-target="#modalCrud">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" id="btnActualizarEntidad" data-toggle="Actualizar dominio" data-target="#modalCrud">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" id="btnEliminar" data-toggle="Actualizar dominio" data-target="#modalCrud">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" id="btnColumnas" data-toggle="Actualizar dominio" data-target="#modalCols">
                                        <i class="fa fa-columns"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-4">
                                @await Component.InvokeAsync("EditorTabular", new { Tipo = Model.Tipo })
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-lg-6">


                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

    <div class="hide">
        <div class="modal fade" id="modalCrud">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><label id="tituloModalCrud">Crear Dominio</label></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="divCrud">

                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="btnCrud">Crear</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal CRUD -->

        <div class="modal fade" id="modalCols">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><label id="tituloModalCols">Columnas de UO</label></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h6>Seleccione las columnas a mostrar: </h6>
                        </div>
                        <div class="container" id="divCols">
                            <div class="row">
                                <div class="col-10" id="listaCols"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="btnMostrarCols">Mostrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal Columnas -->
    </div>


