@model RedirectViewModel

<div class="formulario">
    <div class="info">
        <div class="thumbnail"><img src="./PIKA_PARROT.svg" /></div>

        <h2>Redigiendo a la aplicación.</h2>
    </div>

</div>
<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js?v1.0.1"></script>
