@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}


<div class="formPermisos">
    <div class="info">

        <div class="thumbnail"><img src="../PIKA_PARROT.svg" /></div>
        <h1>
            Bienvenidos a la aplicación de PIKA
        </h1>
        Pika es un
        <a href="./grants">Gestor de Documentos</a>
        donde puede encontrar metadatos y enlaces a todos los puntos finales, material clave, etc.

    </div>


</div>
