@model PIKA.Modelo.Infraestructura.UI.EditorTabular.ModeloEditorTabular

<a href="#" class="btn btn-tool btn-sm">
    <i class="fas fa-download"></i>
</a>
<a href="#" class="btn btn-tool btn-sm">
    <i class="fas fa-bars"></i>
</a>